{% extends "manga/base.html" %}

{% block content %}
    <h3>Manga Collection {% if page_obj.paginator.count %}<small class="text-muted">({{ page_obj.paginator.count }} Page{{ page_obj.paginator.count|pluralize:"s" }})</small>{% endif %}</h3>
    <hr>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <hr>
    <div class="card-columns">
        {% for comic in page_obj %}
        <div class="card mb-3">
            <h5 class="card-header ">{{ comic.title }}</h5>
            <div class="card-body border-dark">
              <p class="card-text text-dark">
                {{ comic.description|truncatewords_html:30 }}
                <hr>
                <div class="text-right"><a title="Read More">Read More</a></div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Written by <b>{{ comic.author}}</b></small>
              <small class="text-muted">Artwork by <b>{{ comic.artist}}</b></small>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}