{% extends "manga/base.html" %}

{% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <h3>Create a Readlist</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit">SUBMIT</button>
    </form>
    <hr>
    {% for readlist in readlists %}
        <h4>{{ readlist.name }}</h4>
        <div class="row flex-row flex-nowrap overflow-auto justify-content-between" >
            {% for manga in readlist.manga.all %}
            <div class="col-4">
                <div class="card">
                    <h5 class="card-header ">{{ manga.title }}</h5>
                    <div class="card-body border-dark">
                        <img height="200" width="200" class="card-img-top" src="{{manga.img_link}}"/>
                        <p class="card-text text-dark">
                        {{ manga.description|truncatewords_html:30 }}
                        <hr>
                        <div class="text-right"><a href="{% url 'manga-details-page' manga.id %}" title="Read More">Read More</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% endfor %}
{% endblock %}